{% extends "layout.njk" %}

{% block page_title %}
Book your theory test - GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block timeoutNotification %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">Book a driving theory test</h1>

		<p class="govuk-body">Book a theory test for a:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>car</li>
			<li>motorcycle</li>
			<li>lorry, bus or coach</li>
		</ul>
    <p class="govuk-body">You can also:</p>
    <ul class="govuk-list govuk-list--bullet">
			<li><a href="https://www.gov.uk/change-theory-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f" class="govuk-link">change the time or date of a theory test</a> you've booked but haven't yet taken</li>
			<li><a href="https://www.gov.uk/cancel-theory-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f" class="govuk-link">cancel a theory test</a> you've booked but haven't yet taken</li>
		</ul>
    <p class="govuk-body">This service is for England, Scotland and Wales. There's a different service to <a href="https://www.nidirect.gov.uk/services/book-change-or-cancel-your-theory-test-online" class="govuk-link">book your theory test in Northern Ireland</a></p>
    <p class="govuk-body">This page is also available in Welsh (<a href="https://www.gov.uk/archebu-prawf-gyrru-theori" class="govuk-link">Cymraeg</a>)</p>

    <a href="/" id="startButton" class="govuk-button govuk-button--start">Start</a>

		<h2 class="govuk-heading-m">Before you start</h2>

		<p class="govuk-body govuk-!-font-weight-bold">You will need:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>the UK driving licence number for the person taking the driving theory test</li>
			<li>an email address - without one, you must book the theory test by phone</li>
			<li>a credit or debit card to pay for the theory test</li>
		</ul>

    <h2 class="govuk-heading-m">How much theory tests cost</h2>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Car</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£23</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Motorbike</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£23</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">Lorry or bus</h2>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">part 1a (multiple-choice questions)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£26</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">part 1b (hazard perception)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£11</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">part 2 (case studies)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£23</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">When you don't need a theory test</h2>

		<p class="govuk-body">You don’t need to take a theory test before you book a:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li><a href="https://www.gov.uk/taxi-driver-licence" class="govuk-link">taxi driving test</a></li>
			<li><a href="https://www.gov.uk/learning-to-drive-a-tractor-or-specialist-vehicle/driving-tests-for-tractors-and-specialist-vehicles" class="govuk-link">tractor driving test</a></li>
		</ul>

		<p class="govuk-body">You also don’t need to take a theory test if you're taking a driving test to upgrade:</p>
    <ul class="govuk-list govuk-list--bullet">
			<li>an <a href="https://www.gov.uk/automatic-driving-licence-to-manual" class="govuk-link">automatic car licence to a manual car licence</a></li>
			<li>from category A1 (small motorcycle) to category A2 (medium motorcycle) if you’ve had the licence for at least 2 years</li>
      <li>from category C1 (<a href="https://www.gov.uk/driving-licence-categories#medium-sized-vehicles" class="govuk-link">medium vehicles</a>) to category C (<a href="https://www.gov.uk/driving-licence-categories#large-vehicles" class="govuk-link">large vehicles</a>) unless you got your C1 entitlement from passing a car driving test</li>
      <li>from category D1 (minibus) to category D (bus)</li>
      <li>any licence to be able to <a href="https://www.gov.uk/car-trailer-driving-test" class="govuk-link">tow a trailer</a></li>
		</ul>

    <h2 class="govuk-heading-m">Help with booking a test</h2>
    <p class="govuk-body">Contact the Driver and Vehicle Standards Agency (DVSA) to get help booking your theory test, or book if you don’t have an email address.</p>

    <h2 class="govuk-heading-m">DVSA theory test booking support</h2>
    <p class="govuk-body">Email: <a href="mailto:theorycustomerservices@dvsa.gov.uk" class="govuk-link">theorycustomerservices@dvsa.gov.uk</a></p>
    <p class="govuk-body">Telephone: 0300 2001122</p>
    <p class="govuk-body">Monday to Friday, 8am to 4pm</p>
    <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>
  </div>
</div>

{% endblock %}
