<h3 class="govuk-heading-m" data-automation-id="contact-details">{{ t('bookingConfirmation.nonStandardAccommodation.contactInformation.header') }}</h3>
<p class="govuk-body"> {{ t('bookingConfirmation.nonStandardAccommodation.contactInformation.testEnquiries') }}
<br> <a href = "mailto:{{ t('bookingConfirmation.nonStandardAccommodation.contactInformation.email') }}">{{ t('bookingConfirmation.nonStandardAccommodation.contactInformation.email') }}</a>
<br>{{ t('bookingConfirmation.nonStandardAccommodation.contactInformation.telephone') }}
<br>{{ t('bookingConfirmation.nonStandardAccommodation.contactInformation.openingHours') }}</p>
