{% extends "layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block page_title %}
  {{ t('generalContent.pageTitle') }}
{% endblock %}

{% block beforeContent %}
  <div role="navigation" aria-label="back">
    {{ govukBackLink({
      attributes: {
        'data-automation-id': 'back'
      },
      text: t('generalContent.back')
    }) }}
  </div>
{% endblock %}

{% block content %}

  {% include "includes/error-banner.njk" %}

  {% set fieldName = 'translator' %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="{{fieldName}}" data-automation-id="heading">
              {{ t('translator.heading') }}
            </label>
        </h1>
        <p class="govuk-body" data-automation-id="paragraph1">
          {{ t('translator.description') }}
        </p>
        {{ govukTextarea({
          id: fieldName,
          name: fieldName,
          errorMessage: fieldName | fieldErrorObject(errors),
          value: value,
          attributes: {
            'data-automation-id': fieldName
          },
          hint: {
            text: t('translator.hint')
          }
        }) }}

        {{ govukButton({
          text: t('generalContent.continueButton'),
          attributes: {
            'data-automation-id': 'submit'
          }
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
