{% macro centreLocation(centre) %}
  {{ centre.name }}
  {% if centre.addressLine1 | length %}
    <br>{{ centre.addressLine1 }}
  {% endif %}
  {% if centre.addressLine2 | length %}
    <br>{{ centre.addressLine2 }}
  {% endif %}
  {% if centre.addressCounty | length %}
    <br>{{ centre.addressCounty }}
  {% endif %}
  <br>{{ centre.addressCity }}
  <br>{{ centre.addressPostalCode }}
{% endmacro %}
