{% extends "layout.njk" %}

{% block page_title %}
  {{ t('checkYourAnswers.error.heading') }} {{ t('generalContent.pageTitle') }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{ t('checkYourAnswers.error.paymentSystemError.heading') }}</h1>
    <p class="govuk-body">{{ t('checkYourAnswers.error.paymentSystemError.contentLine1') }}</p>
    <p class="govuk-body">
      {{ t('checkYourAnswers.error.paymentSystemError.contentLine2', {
        openLink: '<a href="' + startAgainLink + '" class="govuk-link">',
        closeLink: '</a>'
      }) | safe }}
    </p>
    <p class="govuk-body">{{ t('checkYourAnswers.error.paymentSystemError.contentLine3') }}</p>
    <p class="govuk-body">
      {{ t('checkYourAnswers.error.paymentSystemError.contentLine4', {
        openLink: '<a href="' + t('checkYourAnswers.error.paymentSystemError.contact') + '" class="govuk-link">',
        closeLink: '</a>',
        bookingReference: bookingRef
      }) | safe }}
    </p>
  </div>
</div>
{% endblock %}
