<ul class="govuk-body list-no-bullets">
  <li><span class="govuk-!-font-weight-bold">{{ t('generalContent.footer.enquiriesHeader') }}</span></li>
  <li><a href="mailto:{{t('generalContent.contactEmail')}}">{{ t('generalContent.contactEmail')}}</a></li>
  <li>{{ t('generalContent.footer.telephone') }}</li>
  <li>{{ t('generalContent.footer.openingHours') }}</li>
  <li><a href="{{t('generalContent.footer.callChargesUrl')}}" target="_blank">{{ t('generalContent.footer.callCharges') }}</a></li>
</ul>
