{% extends "layout.njk" %}

{% block page_title %}
  {{ t('generalContent.pageTitle') }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{ t('errors.500.heading') }}</h1>
    <p class="govuk-body">{{ t('errors.500.description') }}</p>
    <p class="govuk-body">{{ t('errors.500.apology') }}</p>
    <hr/>
    <p class="govuk-body">{{ t('generalContent.footer.moreInfo') }} <a href="{{t('generalContent.footer.bookingLinkUrl')}}" target="_blank">{{ t('generalContent.footer.bookingLink') }}</a>.</p>
    <p class="govuk-body">{{ t('generalContent.footer.findOut') }} <a href="{{t('generalContent.footer.covidImpactLink')}}" target="_blank">{{ t('generalContent.footer.covidImpact') }}</a>.</p>
    {% include "includes/enquiries-footer.njk" %}
  </div>
</div>
{% endblock %}
