.centre-button {
  background-color: #f8f8f8;
  border: none;
  color: #70777a;
  padding: 15px 30px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.centre-button--active {
  background-color: #dee0e2;
  color: black;
  border: none;
}