{% extends "layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block page_title %}
  {{ t('preferredDay.heading') }} {{ t('generalContent.pageTitle') }}
{% endblock %}

{% block beforeContent %}
  {% if not inEditMode %}
    <div role="navigation" aria-label="back">
      {{ govukBackLink({
        text: t('generalContent.back'),
        href: backLink,
        attributes: { 'data-automation-id': 'back' }
      }) }}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% include "error-banner.njk" %}

  {% if inEditMode and not errors %}
    <div class="alert govuk-body govuk-!-margin-bottom-8">
      {{ t('generalContent.editMode.changeAlert', {
        openLink: '<a href="' + backLink + '" data-automation-id="alert-back-link" class="govuk-link">',
        closeLink: '</a>'
      }) | nl2br | safe }}
    </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" data-automation-id="heading">{{ t('preferredDay.heading') }}</h1>
      <p class="govuk-body">{{ t('preferredDay.paragraph1') }}</p>
      <p class="govuk-body">{{ t('preferredDay.paragraph2') }}</p>

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% set inputHtml %}
          {{ govukCharacterCount({
            id: "dayInput",
            name: "dayInput",
            maxlength: 4000,
            label: {
              text: t('preferredDay.option1Hint')
            },
            value: savedPreferredDay,
            errorMessage: "dayInput" | fieldErrorObject(errors),
            attributes: { 'data-automation-id': 'input' }
          }) }}
        {% endset %}

        {% set fieldName = 'preferredDayOption' %}
        {{ govukRadios({
          idPrefix: fieldName,
          name: fieldName,
          fieldset: {
            legend: {
              text: t('preferredDay.radioHint')
            }
          },
          items: [
            {
              value: "particularDay",
              text: t('preferredDay.option1'),
              conditional: {
                html: inputHtml
              },
              checked: preferredDayOption === 'particularDay',
              attributes: { 'data-automation-id': 'particularDay' }
            },
            {
              value: "decideLater",
              text: t('preferredDay.option2'),
              checked: preferredDayOption === 'decideLater',
              attributes: { 'data-automation-id': 'decideLater' }
            }
          ],
          errorMessage: fieldName | fieldErrorObject(errors)
        }) }}

        {% if inEditMode %}
          {{ govukButton({
            text: t('generalContent.confirmChangeButton'),
            type: 'submit',
            classes: 'govuk-!-margin-right-1',
            attributes: {
              'data-automation-id': 'submit'
            }
          }) }}
          {{ govukButton({
            text: t('manageBookingChangeBSL.editMode.cancelChangeButton'),
            href: backLink,
            classes: 'govuk-button--secondary',
            attributes: {
              'data-automation-id': 'cancel'
            }
          }) }}
        {% else %}
          {{ govukButton({
            text: t('generalContent.continueButton'),
            attributes: {
              'data-automation-id': 'submit',
              'type': 'submit'
            }
          }) }}
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
