{% extends "layout.njk" %}

{% block page_title %}
  {{ t('manageBookingCancelConfirmation.error.heading') }} {{ t('generalContent.pageTitle') }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{ t('manageBookingCancelConfirmation.error.heading') }}</h1>
    <p class="govuk-body">{{ t('manageBookingCancelConfirmation.error.contentLine1') }}</p>
    <p class="govuk-body">
      {{ t('manageBookingCancelConfirmation.error.contentLine2', {
        openLink: '<a href="/manage-booking/'+bookingRef+'" class="govuk-link">',
        closeLink: '</a>'
      }) | safe }}
    </p>
    {% include "enquiries-footer.njk" %}
  </div>
</div>
{% endblock %}
