{% extends "layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block page_title %}
  {{ t('evidence.mayBeRequired.heading') }} {{ t('generalContent.pageTitle') }}
{% endblock %}

{% block beforeContent %}
  <div role="navigation" aria-label="back">
    {{ govukBackLink({
      text: t('generalContent.back'),
      href: backLink,
      attributes: { 'data-automation-id': 'back' }
    }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" data-automation-id="heading">{{ t('evidence.mayBeRequired.heading') }}</h1>
      <p class="govuk-body">{{ t('evidence.mayBeRequired.description') }}</p>
      <ol class="govuk-list govuk-list--bullet">
        <li>{{ t('evidence.mayBeRequired.line1') }}</li>
        <li>{{ t('evidence.mayBeRequired.line2') }}</li>
      </ol>
      <h2 class="govuk-heading-m">{{ t('evidence.mayBeRequired.subsection.header') }}</h2>
      <p class="govuk-body">{{ t('evidence.mayBeRequired.subsection.listDescription') }}</p>
      <ol class="govuk-list govuk-list--bullet">
        <li>{{ t('evidence.mayBeRequired.subsection.line1') }}</li>
        <li>{{ t('evidence.mayBeRequired.subsection.line2') }}</li>
      </ol>
      <p class="govuk-body">{{ t('evidence.mayBeRequired.subsection.footer') }}</p>
      {% if showExtraContent %}
        <h2 class="govuk-heading-m">{{ t('evidence.deafCandidate.header') }}</h2>
        <p class="govuk-body">{{ t('evidence.deafCandidate.description') }}</p>
      {% endif %}
      {{ govukButton({
        text: t('generalContent.continueButton'),
        href: 'preferred-day',
        attributes: {
          'data-automation-id': 'submit'
        }
      }) }}
    </div>
  </div>
{% endblock %}
